body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
.openButton {
  border: none;
  border-radius: 5px;
  width: 220px;
  height: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openButton:hover {
  border: 2px solid black;
}
.closeButton {
  border: none;
  border-radius: 5px;
  width: 220px;
  height: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 240px;
  margin-top: -30px;
}
.closeButton:hover {
  border: 2px solid black;
}
